* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: #e0e0e0;
}

i {
  pointer-events: none;
}

body {
  background: linear-gradient(0.75turn, #6dbfe2, #ebf8e1, #eeba82);
}

header {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  h1 {
    color: #807979;
    font-size: 3rem;
  }
}

.todo-container {
  div button {
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.75rem;
    cursor: pointer;
    color: white;
    // background-color: #eeba82;
  }

  div:first-child {
    form {
      input {
        border: none;
        padding: 0.25rem 0.5rem;
        font-size: 1.75rem;
        margin: 0.1rem;
      }

      // 隱藏number arrow，search keywords "input number arrows remove and copy the code on w3school"
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        width: 50px;
        text-align: center;
        -moz-appearance: textfield;
      }
    }
  }

  .sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem 0rem;
  }

  section {
    div.todo {
      // margin: 0.2rem 0rem;
      transition: all 0.1s ease;
      animation: scaleUp 0.5s ease-in-out;
      div {
        span {
          background-color: #fff;
          color: black;
          padding: 0.25rem 0.75rem;
          font-size: 1.75rem;
        }
  
        span.todo-text {
          word-wrap: break-word;
          width: 70%;
          @media (max-width: 435px) {
            width: 60%;
          }
        }
  
        span:last-of-type {
          min-width: 110px;
        }
  
        button {
          padding: 0.25rem 0.5rem;
          font-size: 1.75rem;
          border: none;
          cursor: pointer;
          color: white;
          border-radius: 5px;
        }
  
        button.edit {
          background-color: rgb(38, 125, 187);
          &:hover {
            background-color: rgba(38, 125, 187, 0.4);
          }
        }
  
        button.complete {
          background-color: rgb(21, 126, 73);
          @media (max-width: 576px) {
            width: 60px;
          }

          &:hover {
            background-color: rgb(26, 167, 141);
          }
        }
  
        button.trash {
          background-color: rgb(253, 116, 4);
          @media (max-width: 576px) {
            width: 60px;
          }

          &:hover {
            background-color: rgb(253, 170, 4);
          }
        }
      }
    }
  }
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  to {
    transform: scale(0);
  }
}
